body {
  font-family: Arial, sans-serif;
  background-color: #f3f8ff;
  margin: 20px;
  text-align: center;
}

h1 {
  color: #0b76c5;
  text-align: center;
}

ul.navbar {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  text-align: center;
}

ul.navbar li {
  display: inline-block;
  text-align: left;
}

ul.navbar a {
  text-decoration: none;
  color: #0b76c5;
}

ul.navbar a.active {
  font-weight: bold;
  text-decoration: underline;
}

ul {
  line-height: 1.7;
  list-style-position: inside;
}

.order {
    display: inline-block;
    text-align: left;
}

.container {
    text-align: center;
}

@media only screen and (max-width: 700px) {
  body {
    font-size: 16px;
  }
  .navbar li {
    display: block;
    margin: 8px 0;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  body {
    font-size: 16px;
  }
  .navbar li {
    display: inline-block;
    margin-right: 10px;
  }
}

@media only screen and (min-width: 769px) {
  body {
    font-size: 18px;
    margin: 40px;
  }
  .main {
    max-width: 1100px;
    margin: auto;
  }
}